<form class="box order">
			<div class="row">
				
				<label>קוד הזמנה: {{model.code}}</label>

		    	<label>הוזמן ב: {{model.createdOn}}</label>
			
		    	<label>סה"כ: {{model.total}}</label>
				
			</div>
			<table class="orders edit">
				<tbody>
					{{#each supplier in model.suppliers}}
						<tr><td colspan="4" class="supplierName">{{supplier.supplierName}}</td></tr>
						<tr>
							<td class="name"><strong>פריט</strong></td>
							<td  ><strong>כמות</strong></td>
							<td  ><strong>סה"כ</strong></td>
							<td  ><strong>סטטוס</strong></td>
						</tr>			
						{{#each item in supplier.items}}
							<tr>
								<td class="name">{{item.name}}</td>
								<td  >{{item.qty}}</td>
								<td  >{{item.total}}</td>
								<td  >{{item.realized}}</td>
							</tr>	
						{{/each}}

					{{/each}}
				</tbody>
			</table>
			<div class="row">
				{{#link-to 'orders' class="btn"}}חזור{{/link-to}}
			</div>
</form>