{{#view App.ModalView}}
<div class="modal-backdrop fade in"></div>
<div class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="width: 60%;">
    <div class="modal-content">
        <div class="modal-header">
          {{#link-to 'orders' tag="button" type="button" class="close sendExit"}}&times;{{/link-to}}
          <h4 class="modal-title">
            {{#if id}}
              פרטי הזמנה
            {{else}}
              יצירת הזמנה
            {{/if}}
          </h4>
        </div>   

        <div class="modal-body">
          <form>
             {{#if error}}
                  <div class="alert alert-danger error">
                    <strong>שגיאה:</strong> {{error}}
                    <i class="fa fa-times" {{action 'close' controller}}></i>
                  </div>
            {{/if}}
             <div class="row">

                  <div class="col-xs-1">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#general" data-toggle="tab" >כללי</a></li>
                        <li ><a href="#items" data-toggle="tab">פריטים</a></li>
                    </ul>
                  </div>

                  <div class="col-xs-11 tab-content">
                    {{partial "orders/tabs/general"}}

                    {{partial "orders/tabs/items"}}
                  </div>

            </div> 

          </form>
        

        <div class="modal-footer">
          
          <div class="pull-left">
              {{#link-to 'orders' tag="button" type="button" class="btn btn-default"}}סגור{{/link-to}}
          </div>

        </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/view}}