{{#view App.ModalView}}
<div class="modal-backdrop fade in"></div>
<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #f4f4f4;">
      <div class="modal-header">
        {{#link-to 'cities' tag="button" type="button" class="close sendExit"}}&times;{{/link-to}}
        <h4 class="modal-title">
          {{#if id}}
            פרטי ישוב
          {{else}}
            יצירת ישוב
          {{/if}}
        </h4>
      </div>     
      <div class="modal-body" >
        <form>
           {{#if error}}
                <div class="alert alert-danger error">
                  <strong>שגיאה:</strong> {{error}}
                  <i class="fa fa-times" {{action 'close' controller}}></i>
                </div>
          {{/if}}
          <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label>שם ישוב:</label>
                  {{input type="text" class="form-control" valueBinding="name" required="required"}}
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <label>אזורים:</label>
                  {{ui-tree node=allRegions editable=false selected=regions}}
                </div>
              </div>

          </div>
         
        </form>
      </div>
       <div class="modal-footer" style="margin-top:0;">
        {{#link-to 'cities' tag="button" type="button" class="btn btn-default"}}ביטול{{/link-to}}
        <div class="pull-left">
             <button {{action "save" model view controller}} type="button" class="btn btn-success sendEnter">שמור</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/view}}