{{outlet 'lightbox'}}
<div class="blockUi"></div>
<div id="body">
    <div id="header">
        
        <div class="container">

            <a id="logo" href="#">
                <img src="img/site/logo.png" />
            </a>

            <p class="right">
                {{#if session.client}}
                   ברוך הבא, {{session.client.firstName}} {{session.client.lastName}} חבר מועדון “{{club.name}}”
                {{else}}
                    ברוך הבא, חבר מועדון “{{club.name}}” 
                {{/if}}
               
                <a {{ action 'invalidateSession' }}>יציאה</a>
            </p>

            <p class="left">
                <strong>שרות לקוחות 1-700-700-400</strong>
                {{#link-to account}}צור קשר{{/link-to}}
                {{#link-to 'account.index'}}החשבון שלי{{/link-to}}
            </p>

            <div id="search">
                <label>החברים שלנו משלמים פחות</label>
                {{#ui-form action="search" class="search-field" parsley=false}}
                    {{input type="text" placeholder="חיפוש חופשי באתר" value=search}}
                    <button type="submit">&gt;</button>
                {{/ui-form}}
            </div>

        </div>

    </div>

    <div id="main">

        <div class="container">
           
            <div id="sidebar">
                <button class="cart" {{action 'openCart' 1}}>סל הקניות שלי [ {{cart.length}} ]</button>

                {{outlet 'search'}}
            </div>


            <div id="content">
                {{outlet}}
            </div>

        </div>

    </div>

    <div id="footer">
        
        <div class="container">

            <ul class="navigation">
                
                <li>
                    <a href="">ראשי</a>
                </li>
                
                <li>
                    {{#link-to 'page' 1}}אודות{{/link-to}}
                </li>

                <li>
                    {{#link-to 'page' 2}}תקנון האתר{{/link-to}}
                </li>
                
                <li>
                    <a href="">צור קשר</a>
                </li>

                <li>
                    <a {{bind-attr href=suppliersUrl}}>כניסה לספקים</a>
                </li>
            </ul>
     
        </div>

    </div>
</div>