<div id="header">
    
    <div class="container">

        <a id="logo" href="#">
            <img src="img/site/logo.png" />
        </a>

        <p class="right">
            ישראל ישראלי, חבר מועדון “{{club.name}}” ברוך הבא
            <a href="#">יציאה</a>
        </p>

        <p class="left">
            <strong>שרות לקוחות 1-700-700-400</strong>
            {{#link-to contact}}צור קשר{{/link-to}}
            {{#link-to account}}החשבון שלי{{/link-to}}
        </p>

        <div id="search">
            <label>החברים שלנו משלמים פחות</label>
            <div class="search-field">
                <input type="text" placeholder="חיפוש חופשי באתר" />
                <button type="button" {{action 'addItem'}}>&gt;</button>
            </div>
        </div>

    </div>

</div>

<div id="main">

    <div class="container">
       
        <div id="sidebar">
            <button class="cart">סל הקניות שלי [ {{cart.length}} ]</button>

            {{ui-tree node=categories class="tree"}}

            {{ui-tree node=regions class="tree"}}

        </div>


        <div id="content">
            
            {{#each supplier in suppliers itemController="supplier"}}

                <div class="box">
                    <div class="inner">
                        <label>אטרקציות</label>
                        <img src="" />
                        <h2>{{supplier.supplierName}}</h2>
                        <address>
                            {{supplier.regionName}}, {{supplier.city}}
                            <br />
                            {{supplier.phone1}}
                        </address>
                        <div class="info">
                            <span>25% הנחה</span>
                            {{#link-to 'supplier' supplier.id class="button"}}לפרטים{{/link-to}}
                        </div>
                    </div>
                </div>
            
            {{/each}}

        </div>

    </div>

</div>

<div id="footer">
    
    <div class="container">

        <ul class="navigation">
            
            <li>
                <a href="">ראשי</a>
            </li>
            
            <li>
                <a href="">תקנון האתר</a>
            </li>
            
            <li>
                <a href="">אודות</a>
            </li>
            
            <li>
                <a href="">צור קשר</a>
            </li>

        </ul>
 
    </div>

</div>