<div id="top-categories">
    {{#link-to 'newsuppliers' class="box newsuppliers" tag='div'}}
    
        <div class="inner">
            {{!-- <label>אטרקציות</label> --}}
            <img {{bind-attr src="newsupplier.image"}} />
            <h2>{{newsupplier.supplierName}}</h2>
            
            <address>
                {{newsupplier.regionName}}, {{newsupplier.cityName}}
            </address>

            <span class="info-discount">{{newsupplier.discount}}% הנחה</span>
            
          <a href="javascript:void()">בתי עסק חדשים <i class="fa fa-chevron-left"></i></a>
        </div>
    {{/link-to}}

    {{#link-to 'mostviewed' tag='div' class="box mostviewed"}}
        <div class="inner">
            {{!-- <label>אטרקציות</label> --}}
            <img {{bind-attr src="mostviewed.image"}} />
            <h2>{{mostviewed.supplierName}}</h2>
            
            <address>
                {{mostviewed.regionName}}, {{mostviewed.cityName}}
            </address>

            <span class="info-discount">{{mostviewed.discount}}% הנחה</span>
            
            <a href="javascript:void()">הנצפים ביותר <i class="fa fa-chevron-left"></i></a>
        </div>
        
    {{/link-to}}
    {{#link-to 'hotdeals' class="box hotdeals" tag='div'}}
        <div class="inner">
            {{!-- <label>אטרקציות</label> --}}
            <img {{bind-attr src="hotdeal.image"}} />
            <h2>{{hotdeal.supplierName}}</h2>
            
            <address>
                {{hotdeal.regionName}}, {{hotdeal.cityName}}
            </address>

            <span class="info-discount">{{hotdeal.discount}}% הנחה</span>
            
            <a href="javascript:void()">מבצעים חמים <i class="fa fa-chevron-left"></i></a>
        </div>
    {{/link-to}}
</div>

{{#each supplier in model.suppliers itemController="supplier"}}

    <div class="box">
        {{#link-to 'supplier' supplier.id class='inner'}}
            {{#if supplier.categoryName}}
                <label>{{supplier.categoryName}}</label>
            {{/if}}
            <img {{bind-attr src="supplier.image"}} />
            <h2>{{supplier.supplierName}}</h2>
            
            <address>
                {{supplier.regionName}}, {{supplier.cityName}}
            </address>

            <span class="info-discount">{{supplier.discount}}% הנחה</span>
            <div class="info">
                <button class="button">לרכישה ופרטים נוספים</button>
            </div>
        {{/link-to}}
    </div>

{{/each}}