<div id="top-categories">
    <div class="box newsuppliers">
        <div class="inner">

            {{ui-slider images=newsuppliers}}
            
            {{#link-to 'newsuppliers'}}בתי עסק חדשים <i class="fa fa-chevron-left"></i>{{/link-to}}
        </div>
    </div>

    <div class="box mostviewed">
        <div class="inner">

            {{ui-slider images=mostviewed}}

            {{#link-to 'mostviewed'}}הנצפים ביותר <i class="fa fa-chevron-left"></i>{{/link-to}}
        </div>
        
    </div>

    <div class="box hotdeals">
        <div class="inner">

            {{ui-slider images=hotdeals}}

            {{#link-to 'hotdeals'}}מבצעים חמים <i class="fa fa-chevron-left"></i>{{/link-to}}
        </div>
    </div>
</div>

{{#each supplier in model.suppliers itemController="supplier"}}

    <div class="box">
        <div class="inner">
            <label>אטרקציות</label>
            <img {{bind-attr src="supplier.image"}} />
            <h2>{{supplier.supplierName}}</h2>
            <address>
                {{supplier.regionName}}, {{supplier.cityName}}
                <br />
                {{supplier.phone1}}
            </address>
            <div class="info">
                <span>{{supplier.discount}}% הנחה</span>
                {{#link-to 'supplier' supplier.id class="button"}}לפרטים{{/link-to}}
            </div>
        </div>
    </div>

{{/each}}