<div class="overlay">
    <div class="lightbox club-login">
        <div>
            
            <div class="logos">
                <div class="logo-left">
                    <img src="img/site/logo.png" />
                </div>

                <div class="logo-right">
                    <img {{bind-attr src=options.club.logo}} />
                </div>

            </div>

            <div class="box">
                <h2>{{club.pageHeadline}}</h2>
                <p>{{club.altHeadline}}</p>

                <form id="club-login" {{action 'authenticate' on='submit'}}>
                    {{input type="text" autocomplete="off" placeholder="הקלד קוד כניסה" value=clubident}}
                    <button {{action 'authenticate' 'club'}}>כניסה <i class="fa fa-arrow-circle-o-left "></i></button>
                    
                    {{#if errorclub}}
                        <div class="error">{{error}}</div>
                    {{/if}}

                </form>

                <form id="user-login" {{action 'authenticate' on='submit'}}>
                    <div class="title">כניסה ללקוחות רשומים</div>
                
                    {{input type="text" autocomplete="off" placeholder="דואר אלקטרוני או תעודת זהות" value=email}}
                    {{input type="text" autocomplete="off" placeholder="סיסמה" value=password}}
                    
                    <button {{action 'authenticate' 'user'}}>כניסה <i class="fa fa-arrow-circle-o-left "></i></button>
                    
                    {{#if erroruser}}
                        <div class="error">{{error}}</div>
                    {{/if}}

                </form>
                
            </div>

            <ul class="creditcard-icons">
                <li>
                    <img src="img/site/visa.png" />
                </li>
                <li>
                    <img src="img/site/mastercard.png" />
                </li>
                <li>
                    <img src="img/site/americanexpress.png" />
                </li>
                <li>
                    <img src="img/site/isracard.png" />
                </li>
                <li>
                    <img src="img/site/dinersclub.png" />
                </li>
            </ul>

            <a class="supplier-login" href="http://cpnclub.co.il/suppliers" target="_blank">כניסה לספקים&raquo;</a>
            
        </div>

    </div>
</div>