<div class="overlay">
    <div class="lightbox">
        <div class="right">
            <img src="img/site/logo.png" />
            <div class="box">
                <h2>{{club.pageHeadline}}</h2>
                <p>{{club.altHeadline}}</p>
                {{input type="text" placeholder="הקלד קוד כניסה" value=clubident}}
                {{#if error}}
                    <div class="error">{{error}}</div>
                {{/if}}
                <button {{action 'login'}}>כניסה <i class="fa fa-arrow-circle-o-left "></i></button>
                <img {{bind-attr src=club.logo}} />
            </div>
        </div>

        <div class="left">
            <p>{{club.pageDescription}}</p>
            <img src="img/site/loginimg.png" />
        </div>
    </div>
</div>