{{#each supplier in model itemController="supplier"}}

    {{#link-to 'supplier' supplier.id tagName="div" class="search box"}}
        <div class="inner">
            <div class="left">
                <img {{bind-attr src="supplier.image"}} />
                <h2>{{supplier.supplierName}}</h2>
                <address>
                    {{supplier.regionName}}, {{supplier.cityName}}
                    <br />
                    {{supplier.phone1}}
                </address>
                <div class="info">
                    <span>25% הנחה</span>
                    {{#link-to 'supplier' supplier.id class="button"}}לפרטים{{/link-to}}
                </div>
            </div>

            <div class="right">
                <strong>{{supplier.description}}</strong><br />
                {{{supplier.miniSiteContext}}}
            </div>
        </div>
    {{/link-to}}

{{/each}}

{{#search-scroll content=model hasMore=true}}
  <span>טוען נתונים...</span>
{{/search-scroll}}

