<div class="box mini-site">
	<div class="inner">

		<div class="header">

			<div class="right">

				<div class="top">
					<h2 class="title">{{supplierName}}</h2>
					<h2 class="subtitle">{{altHeadline}}</h2>
					<address>
						{{regionName}}, {{city}}
						<br />
						{{phone1}}, {{phone2}}, {{phone3}}
					</address>
				</div>
				<div class="center">
					<p>
						<strong>שעות פעילות:</strong><br />
						{{workingHours}}
					</p>
				</div>
				<div class="bottom">
					<p>
						<strong>מתאים לגילאים:</strong><br />
						{{ageDevision}}
					</p>
				</div>

			</div>

			<img {{bind-attr src=image}} />

		</div>

		<ul class="items">
			{{#each item in items}}
				<li>
					<div class="name">{{item.name}}<br />{{item.shortDescription}}</div>
					<div class="description">{{item.description}}</div>
					<div class="order">
						<button class="btn">לקניה</button>
						<button class="btn">הוסף לסל</button>
					</div>
				</li>
			{{/each}}
		</ul>

		<ul class="gallery">
			{{#each image in images}}
				<li><img {{bind-attr src=image}} />
			{{/each}}
		</ul>

		<div class="content">
		</div>

	</div>
</div>