<div class="box mini-site">
	<div class="inner">

		<div class="header">

			<div class="right">

				<div class="top">
					<h2 class="title">{{supplierName}}</h2>
					<h2 class="subtitle">{{altHeadline}}</h2>
					<address>
						{{regionName}}, {{cityName}}
						<br />
						{{phone1}}, {{phone2}}, {{phone3}}
					</address>
				</div>
				<div class="center">
					<p>
						<strong>שעות פעילות:</strong><br />
						{{{workingHoursLines}}}
					</p>
				</div>
				<div class="bottom">
					<p>
						<strong>מתאים לגילאים:</strong><br />
						{{{ageDevisionLines}}}
					</p>
				</div>

			</div>

			<img {{bind-attr src=image}} />

		</div>

		<ul class="items">
			{{#each item in items itemController="item"}}
				<li>

					<div class="gallery">
						<ul class="gallery-images">
							{{#each image in item.images}}
								<li><img {{bind-attr src=image}} /></li>
							{{/each}}
						</ul>
					</div>
					<div class="item-info">
						<h3 class="name">{{item.name}}</h3>
						<p class="description">{{item.description}}</p>

						<div class="order">
							<div class="price">
								{{#ui-qty count=item.count class="count"}}{{/ui-qty}}
								<span class="discount">₪{{item.priceSingle}}</span>
								<span class="discount">{{item.discount}}% הנחה</span>
							</div>

							<button class="btn" {{action 'addItem' controller supplierName}}>הוסף לסל</button>
						</div>

					</div>
				</li>
			{{/each}}
		</ul>



		<div class="content">
			{{{miniSiteContext}}}
		</div>

	</div>
</div>