<div class="box mini-site">
	<div class="inner">

		<div class="header">

			<div class="right">

				<div class="top">
					<h2 class="title">{{supplierName}}</h2>
					<h2 class="subtitle">{{altHeadline}}</h2>
					<address>
						{{regionName}}, {{cityName}}
						<br />
						{{phoneNumbers}}
					</address>
				</div>
				<div class="center">
					<p>
						<strong>שעות פעילות:</strong><br />
						{{{workingHoursLines}}}
					</p>
				</div>
				<div class="bottom">
					<p>
						<strong>מתאים לגילאים:</strong><br />
						{{{ageDevisionLines}}}
					</p>
				</div>

			</div>

			<div class="left">
				{{ui-slider data=galleryImages}}
			</div>

		</div>

		<ul class="items">
			{{#each item in items itemController="item"}}
				<li>
				
					<div class="gallery">
						{{ui-slider data=item.galleryImages}}
					</div>

					<div class="item-info">
						<h3 class="name">{{item.name}}</h3>
						<p class="description">
							{{item.description}}
							{{#if item.notes}}
								<label class="itemNote">*{{item.notes}}</label>
							{{/if}}
						</p>
						
						<div class="order">
							<div class="price">
								{{#ui-qty count=item.count class="count"}}{{/ui-qty}}
								ֿ<span class="discount">₪{{item.total}}</span>
								
								<span class="discount note">
									<i class="fa fa-angle-double-left"></i>
									מחיר לאחר הנחה
								</span>
								
								
							</div>

							<span class="info-discount">{{item.discount}}% הנחה</span>
							<button class="btn" {{action 'addItem' controller supplierName}}>הוסף לסל</button>
						</div>

					</div>
				</li>
			{{/each}}
		</ul>



		<div class="content">
			{{{miniSiteContext}}}
		</div>

	</div>
</div>