<div class="panel panel-default grid">
  <div class="panel-heading">
    <form {{action "load" on="submit"}}>
      <div class="panel-label">הזמנה</div>
      <div class="search">
        {{input type="number" value=id class="search-query input-medium search" placeholder="הכנס קוד הזמנה"}}
      </div>
      <div class="pull-left actions">
        <button type="submit" class="btn btn-default" {{action 'load' id}}><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>


    {{#if success}}
      <div class="alert alert-success big">
        <strong>ההזמנה מומשה בהצלחה!</strong><br />
        <button {{action 'closeAlert' controller}}><i class="fa fa-times"></i> סגור</button>
      </div>
    {{/if}}

    {{#if msg}}
      <div class="alert alert-warning big">
        <strong>{{msg}}</strong><br />
        <button {{action 'closeAlert' controller}}><i class="fa fa-times"></i> סגור</button>
      </div>
    {{/if}}
</div>



