{{#view App.ModalView}}
<div class="modal-backdrop fade in"></div>
<div class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="width: 30%;">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" {{action "closeWindow"}}>&times;</a>     
        <h4 class="modal-title">
            מימוש הזמנה
        </h4>
      </div>     
      <div class="modal-body">
        <form>
          
        {{#if error}}
                <div class="alert alert-danger error">
                  <strong>שגיאה:</strong> {{error}}
                  <i class="fa fa-times" {{action 'close' controller}}></i>
                </div>
        {{/if}}
       
       <h5>שם הלקוח: {{client.name}}</h5>

        <table class="table table-striped table-bordered">

          <thead>
            <tr>
              <th>תיאור המוצר</th>
              <th class="min center">כמות</th>           
            </tr>
          </thead>

          <tbody>
              {{#each item in items}}
                  <tr>
                    <td >{{item.name}}</td>
                    <td class="min center">{{item.qty}}</td>
                  </tr>
              {{/each}}       
          </tbody>

        </table> 
        </form>
      </div>
      <div class="modal-footer">
        <button {{action "realize" model view controller}} type="button" class="btn-block btn btn-success sendEnter"><i class="fa fa-check"></i>&nbsp;ממש הזמנה</button>
      </div>
       
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/view}}