<div class="row tab-pane active" id="itemGeneral">
  <div class="col-md-12">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                      <label>מק"ט:</label>
                      {{input class="form-control" valueBinding="sku"required="required" }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                      <label>בתוקף עד:</label>
                      {{input-date-time picker="date" class="form-control" valueBinding="expirationDate"required="required" }}
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                      <label>סטאטוס:</label>
                        {{view Ember.ChosenSelectView
                              classNames="form-control chosen-select chosen-rtl form-group" 
                              prompt = "בחר..."
                              contentBinding="App.states"
                              selected=states_id
                              required="required"
                           }}
                    </div>
                </div>
                
            </div>

            <div class="row">
               <div class="col-md-2">
                <div class="form-group">
                  <label>סוג מוצר:</label>
                    {{view Ember.ChosenSelectView
                          classNames="form-control chosen-select chosen-rtl form-group" 
                          prompt = "בחר..."
                          contentBinding="App.itemTypes"
                          selected=itemtypes_id
                          required="required"
                    }}
                </div>
              </div>
            </div>
            
            {{#if single}}

              <div class="row">
                <div class="col-xs-12">
                 <label class="title">בודד</label>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר מחירון:</label>
                      {{input type="text" class="form-control" valueBinding="listPrice" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר קופונופש:</label>
                      {{input type="text" class="form-control" valueBinding="clubPrice" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר מועדון:</label>
                      {{input type="text" class="form-control" valueBinding="priceSingle" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר נט:</label>
                      {{input type="text" class="form-control" valueBinding="netPrice" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>

                  <div class="col-md-1">
                    <div class="form-group">
                      <label>רווחיות:</label>
                      {{input type="text" class="form-control" valueBinding="profitPrecent" disabled="disabled" style="direction: ltr;text-align: right;"}}
                    </div>
                  </div>

                  <div class="col-md-1">
                    <div class="form-group">
                      <label>הנחה:</label>
                      {{input type="text" class="form-control" valueBinding="discountPrecent" disabled="disabled" style="direction: ltr;text-align: right;"}}
                    </div>
                  </div>
              </div>
            {{/if}}
            {{#if group}}
            <div class="row">
              <div class="col-xs-12">
               <label class="title">קבוצות</label>
              </div>
            </div>
              <div class="row">
                  
                   <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר מחירון לאדם:</label>
                      {{input type="text" class="form-control" valueBinding="listPriceGroup" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>


                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר מועדון:</label>
                      {{input type="text" class="form-control" valueBinding="priceGroup" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מחיר נט לאדם:</label>
                      {{input type="text" class="form-control" valueBinding="netPriceGroup" required="required" data-parsley-type="number" data-parsley-min="1"}}
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מינימום משתתפים:</label>
                      {{input type="text" class="form-control" valueBinding="minParticipants" required="required" data-parsley-type="integer" data-parsley-min="1"}}
                    </div>
                  </div>


                  <div class="col-md-2">
                    <div class="form-group">
                      <label>מקסימום משתתפים:</label>
                      {{input type="text" class="form-control" valueBinding="maxParticipants" required="required" data-parsley-type="integer" data-parsley-min="1"}}
                    </div>
                  </div>


              </div>

            {{/if}}

           
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label>שם מוצר:</label>
                      {{input type="text" class="form-control" valueBinding="name" required="required" data-parsley-maxlength="50"}}
                    </div>
                </div>

                {{!--  <div class="col-md-6">
                    <div class="form-group">
                      <label>תיאור מקוצר (שורה שנייה באתר):</label>
                      {{input class="form-control" valueBinding="shortDescription" required="required" data-parsley-maxlength="14" }}
                    </div>
                  </div> --}}

                  
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label>תיאור:</label>
                      {{textarea class="form-control textarea" valueBinding="description" required="required" data-parsley-maxlength="255"}}
                    </div>
                  </div>
            </div>
             <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                      <label>הערות למוצר (יוצג באתר):</label>
                      {{textarea class="form-control" valueBinding="notes" }}
                    </div>
                  </div>
            </div>
             <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                      <label>הערות מנהל מערכת:</label>
                      {{textarea class="form-control" valueBinding="adminNotes" }}
                    </div>
                  </div>
            </div>

      </div>
</div>