{{#if controls}}
	<span class="prev" {{action "prev"}}>
		<i class="fa fa fa-chevron-right"></i>
	</span>
	<span class="next" {{action "next"}}>
		<i class="fa fa fa-chevron-left"></i>
	</span>
{{/if}}

<div class="slides">

	<ul class="images">
		{{#each item in data}}
		  <li>
		  		<img {{bind-attr src=item.src}} />
		  </li>
		{{/each}}
	</ul>

</div>

{{#if pagination}}
	<div class="pagination">
		<ul>
			{{#each item in navigation}}
				<li {{bind-attr class="item.active:active" }} {{action "setSlide" item.index }}></li>
			{{/each}}
		</ul>
	</div>
{{/if}}