{{#if selectable}}

  <span {{action 'toggle'}} class="selectable">
      <i class="fa fa-check"></i>
      {{node.name}}
  </span>

{{else}}

	{{ui-tree-link item=node base=type main=this.main}}

{{/if}}

{{#if isExpended}}
	{{#if node.children.length}}
		{{ui-tree-branch children=node.children main=this.main}}
	{{/if}}
{{/if}}





