<div class="col-md-12">

      <label class="title">פרטי לקוח</label>

  		<div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>מועדון:</label>
                   {{view Ember.ChosenSelectView
                        classNames="form-control chosen-select chosen-rtl form-group " 
                        prompt = "בחר..."
                        contentBinding="App.clubs"
                        selected=clubs_id
                       disabled="disabled"
                      }}
              </div>
            </div>  
           {{#if model.cancel}}
               <div class="col-md-3 col-md-pull-6">
                <div class="form-group">
                  <button {{action 'openWarning'}} class="btn btn-info" style="margin-top: 25px;">ביטול עיסקה</button>
                </div>
              </div>  
           {{/if}}
      </div>

      <div class="row">

        <div class="col-md-2">
          <div class="form-group">
            <label>שם פרטי:</label>
            {{input type="text" class="form-control" valueBinding="firstName" readonly="readonly"}}
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>שם משפחה:</label>
            {{input type="text" class="form-control" valueBinding="lastName" readonly="readonly"}}
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>ת.ז/ח.פ/ע.מ:</label>
            {{input type="text"  class="form-control" valueBinding="taxId" readonly="readonly"}}
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>עיר:</label>
            {{input type="text"  class="form-control" valueBinding="city" readonly="readonly"}}
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>נייד:</label>
            {{input type="text" class="form-control" valueBinding="mobile"  readonly="readonly"}}
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>דוא״ל:</label>
            {{input type="text" class="form-control" valueBinding="email"  readonly="readonly" }}
          </div>
        </div>       

    </div> 
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <label>רחוב:</label>
            {{input type="text" class="form-control" valueBinding="street"  readonly="readonly" }}
        </div> 
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>בית:</label>
            {{input type="text" class="form-control" valueBinding="house"  readonly="readonly"}}
        </div>
      </div>
      <div class="col-md-2"> 
        <div class="form-group">
          <label>כניסה:</label>
            {{input type="text" class="form-control" valueBinding="entrance" readonly="readonly"}}
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>דירה:</label>
            {{input type="text" class="form-control" valueBinding="apartment" readonly="readonly"}}
        </div>  
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>מיקוד:</label>
          {{input type="text" class="form-control" valueBinding="zipcode"  readonly="readonly"}}
        </div>
      </div>

    </div>

</div>