<div class="col-md-12">
	<label class="title">פריטים</label>

    {{#each item in items itemController="Item"}}
    	<div class="row">
    		<div class="col-md-12">

	    		<div class="row">

	    			 <div class="col-md-4">
	                    <div class="form-group">
	                      <label>שם ספק:</label>
	                      {{input type="text" class="form-control" valueBinding="item.supplierName" readonly="readonly"}}
	                    </div>
	                </div>

	                <div class="col-md-4">
	                    <div class="form-group">
	                      <label>שם המוצר:</label>
	                      {{input type="text" class="form-control" valueBinding="item.name" readonly="readonly"}}
	                    </div>
	                </div>

	                <div class="col-md-2">
	                    <div class="form-group">
	                      <label>מק"ט:</label>
	                      {{input class="form-control" valueBinding="item.sku" readonly="readonly" }}
	                    </div>
	                </div>

	                <div class="col-md-2">
	                    <div class="form-group">
	                      <label>בתוקף עד:</label>
	                      {{input-date-time picker="date" class="form-control" valueBinding="item.displayDate" readonly="readonly" }}
	                    </div>
	                </div>
	            
	            </div>

		            <div class="row">

			              	<div class="col-md-2">
			                  <div class="form-group">
			                    <label>מחיר מועדון:</label>
			                    {{input type="text" class="form-control" valueBinding="item.priceSingle" readonly="readonly"}}
			                  </div>
			                </div>
			                <div class="col-md-2">
			                  <div class="form-group">
			                    <label>מחיר מחירון:</label>
			                    {{input type="text" class="form-control" valueBinding="item.listPrice" readonly="readonly"}}
			                  </div>
			                </div>

			                <div class="col-md-2">
			                  <div class="form-group">
			                    <label>מחיר נט:</label>
			                    {{input type="text" class="form-control" valueBinding="item.netPrice" readonly="readonly"}}
			                  </div>
			                </div>

			                 <div class="col-md-2">
			                  <div class="form-group">
			                    <label>כמות:</label>
			                    {{input type="text" class="form-control" valueBinding="item.qty" readonly="readonly"}}
			                  </div>
			                </div>

			                <div class="col-md-2">
			                  <div class="form-group">
			                    <label>מחיר ששולם:</label>
			                    {{input type="text" class="form-control" valueBinding="item.total" readonly="readonly"}}
			                  </div>
			                </div>

			               
		            </div>

		            <div class="row">
		                 <div class="col-md-12">
		                    <div class="form-group">
		                      <label>תיאור:</label>
		                      {{textarea class="form-control" valueBinding="item.description" readonly="readonly"}}
		                    </div>
		                  </div>
		            </div>

		            <div class="row">
		                 <div class="col-md-12">
		                    <div class="form-group">
		                      <label>הערות:</label>
		                      {{textarea class="form-control" valueBinding="item.notes" readonly="readonly"}}
		                    </div>
		                  </div>
		            </div>


    		</div>
    	</div>
    	
    {{/each}}
</div>
