<div class="col-md-12">
  <label class="title">פרטי הזמנה</label>
  <div class="row">

    <div class="col-xs-4">
      <div class="form-group">
        <label>תאריך ביצוע ההזמנה</label>
        {{input class="form-control" value=createdOn disabled="disabled"}}
      </div>
    </div>

     <div class="col-xs-4">
      <div class="form-group">
        <label>קוד ההזמנה</label>
        {{input class="form-control" value=code disabled="disabled"}}
      </div>
    </div>

     <div class="col-xs-4">
      <div class="form-group">
        <label>סכום ההזמנה</label>
        {{input class="form-control" value=total disabled="disabled"}}
      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-xs-3">
      <div class="form-group">
        <label>מספר תשלומים</label>
        {{input class="form-control" value=numberOfPayments disabled="disabled"}}
      </div>
    </div>

     <div class="col-xs-3">
      <div class="form-group">
        <label>מספר כרטיס אשראי</label>
        {{input class="form-control" value=cardNumber disabled="disabled"}}
      </div>
    </div>

     <div class="col-xs-3">
      <div class="form-group">
        <label>שם בעל כרטיס האשראי</label>
        {{input class="form-control" value=ownerName disabled="disabled"}}
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <label>ת.ז בעל כרטיס האשראי</label>
        {{input class="form-control" value=ownerId disabled="disabled"}}
      </div>
    </div>

  </div>

</div>