<div class="panel panel-default grid">
  <div class="panel-heading">
      <div class="panel-label">דוח ספקים</div>
      <ul class="pull-left inlineList" >
        <li>מ:</li>
        <li>{{input-date-time picker="date" class="form-control" valueBinding="startDate" }}</li>
        <li>עד:</li>
        <li>{{input-date-time picker="date" class="form-control" valueBinding="endDate" }}</li>
      </ul>
  </div>
      <table class="table table-striped table-bordered reports">
        <thead>
          <tr>
            <th rowspan="2">ספק</th>
            <th colspan="3" class="min center">הזמנות</th>
            <th colspan="3" class="min center">מימושים</th>
          </tr>
          <tr>
            <th class="min center">כמות</th>
            <th class="min center">שולם</th>
            <th class="min center">נט</th>
            <th class="min center">כמות</th>
            <th class="min center">שולם</th>
            <th class="min center">נט</th>
          </tr>
        </thead>

        <tbody >
            {{#each item in model.reports}}
                <tr>
                  <td>
                    {{item.supplierName}}
                  </td>
                  <td class="min center">
                    {{item.ordersNum}}
                  </td>
                  <td class="min center">
                    {{item.ordersPayedTotal}}
                  </td>
                  <td class="min center">
                    {{item.ordersNetTotal}}
                  </td>  
                  
                   <td class="min center">
                    {{item.realizedNum}}
                  </td>
                  <td class="min center">
                    {{item.realizedPayedTotal}}
                  </td>
                  <td class="min center">
                    {{item.realizedNetTotal}}
                  </td>  

                </tr>
            {{/each}}
        </tbody>
      </table> 
</div>



