<h2 class="lightbox-title">כניסה</h2>

<form class="box" {{action 'login' on='submit'}}>

    {{#if error}}
        <div class="alert error">
            <div class="close">&times;</div>
            {{error}}
        </div>
    {{/if}}
    
    <div class="form-group">
        {{input type="text" placeholder="דואר אלקטרוני" value=email}}
    </div>

    <div class="form-group">
        {{input type="text" placeholder="סיסמא" value=password}}
    </div>

    <button {{action 'login'}}>התחבר</button>
    <button {{action 'openRegister'}}>הרשמה</button>

</form>
