{{#ui-form class="box" action='login' autocomplete="on"}}

    <h2>כניסה</h2>

    {{#if error}}
        <div class="alert error">
            <div class="close" {{action 'closeMsg' controller}}>&times;</div>
            {{error}}
        </div>
    {{/if}}
    
    <div class="form-group">
        {{input type="text" placeholder="דואר אלקטרוני" value=email name="email"}}
    </div>

    <div class="form-group">
        {{input type="password" placeholder="סיסמא" value=password}}
    </div>
    <div>
        <label {{action 'openPassReminder'}} class="forgotPass">שכחתי סיסמא &gt;&gt;</label>
    </div>
    <button {{action 'openRegister'}} type="button">הרשמה</button>
    <button type="submit">התחבר</button>

{{/ui-form}}
