{{#ui-form class="box" action='login' autocomplete=false}}

    <h2>כניסה למשתמש קיים</h2>

    {{#if error}}
        <div class="alert error">
            <div class="close" {{action 'closeMsg' controller}}>&times;</div>
            {{error}}
        </div>
    {{/if}}
    
    <div class="form-group">
        {{input type="text" placeholder="דואר אלקטרוני" value=email name="cpn_email"}}
    </div>

    <div class="form-group">
        {{input type="password" placeholder="סיסמא" value=password name="cpn_password"}}
    </div>

    <button class="login" type="submit">התחבר</button>

    <div class="user-login-actions">
        <a {{action 'openRegister'}}>צור חשבון חדש</a>
        <a {{action 'openPassReminder'}}>שכחת את הסיסמא?</a>
    </div>

{{/ui-form}}
