{{#ui-form class="box" action='register' autocomplete=false}}

    <h2>הרשמה</h2>

    {{#if error}}
        <div class="alert error">
            <div class="close">&times;</div>
            {{error}}
        </div>
    {{/if}}

    <div class="form-group">
        {{input type="text" placeholder="שם פרטי" value=firstName required="required" name="cpn_firstName"}}
    </div>

    <div class="form-group">
        {{input type="text" placeholder="שם משפחה" value=lastName required="required" name="cpn_lastName"}}
    </div>

    <div class="form-group">
        {{input type="text" placeholder="דואר אלקטרוני" value=email required="required" data-parsley-type='email' name="cpn_email_reg" class="email-input"}}
    </div>

    <div class="form-group">
        {{input type="text" placeholder="נייד" value=mobile required="required" data-parsley-mobile="mobile" name="cpn_mobile_reg"}}
    </div>

    <div class="form-group">
        <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
        <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />
        {{input type="password" placeholder="סיסמא" value=password required="required" name="cpn_password_reg"}}
    </div>
    
    <button type="submit">הרשם</button>

    <a class="back-to-login" {{action 'openLogin'}}>חזור למסך כניסה</a>
    

{{/ui-form}}