<div class="overlay">
    <div class="lightbox small checkout">
        <div class="close" {{action 'closeModal'}}>&times;</div>

       	{{#if session.termsBoxOpen}}
        	<div id="check-terms-box">
        		
        		<div class="center">
	        		<h2>אישור תקנון</h2>
	        		<p>על מנת להשלים את תהליך הרכישה עליך לאשר את התקנון ואת תנאי השימוש באתר.</p>
        		
        			<div id="terms">
								{{#if session.terms}}
									<i class="fa fa-check-square-o" {{action 'terms'}}></i>
								{{else}}
									<i class="fa fa-square-o" {{action 'terms'}}></i>
								{{/if}}
								קראתי ואני מסכים לתנאי השימוש באתר בכפוף <a target="_blank" href="#/page/2">לתקנון</a>
							</div>

							<button type="button" {{action "closeTermsBox"}}><i class="fa fa-close"></i> סגור</button>
        		</div>

        	</div>
        {{/if}}
        
				<div class="box">

						<h2>קופה</h2>

						{{#if error}}
						  <div class="alert error">
						      <p style="margin: 0; width: 90%;">{{error}}</p>
						  </div>
						{{/if}}
						 	

						{{#if success}}
							{{#unless error}}
								<h4>
									הזמנתך בוצעה בהצלחה.<br />
									פרטי ההזמנה נשלחו אליך במייל וב-SMS.<br />
									מספר ההזמנה שלך הוא <span>{{success}}</span><br /><br />
									<strong>חובה להציג מספר הזמנה בהגעה לבית העסק</strong><br />
									<strong>מומלץ לתאם מראש</strong>
								</h4>
							{{/unless}}
						{{/if}}

						{{#unless success}}
							<h3>שלום {{session.client.firstName}} {{session.client.lastName}},</h3>
							
							{{#if hasCreditDiscount}}
								<p>
									<strong>שים לב:</strong>
									לקבלת מלוא ההנחה יש לבצע את התשלום באמצעות כרטיס אשראי של מועדון {{options.club.name}} בלבד!
									<br />
									<strong>כרטיס האשראי שלך יחוייב בסכום כולל של ₪{{total}}</strong>
								</p>

								<p style="color: red;">
									<strong>שים לב:</strong>
									במידה והתשלום יבוצע באמצעות כרטיס אשראי שאינו שייך למועדון {{options.club.name}},
									<br />
									<strong>כרטיס האשראי שלך יחוייב בסכום כולל של ₪{{ccTotal}}</strong>
								</p>
							{{else}}
								<p>
									<strong>כרטיס האשראי שלך יחוייב בסכום כולל של ₪{{total}}</strong>
								</p>
							{{/if}}

							<div id="terms">
								{{#if session.terms}}
									<i class="fa fa-check-square-o" {{action 'terms'}}></i>
								{{else}}
									<i class="fa fa-square-o" {{action 'terms'}}></i>
								{{/if}}
								קראתי ואני מסכים לתנאי השימוש באתר בכפוף <a target="_blank" href="#/page/2">לתקנון</a>
							</div>

							<iframe {{bind-attr src=model.url}} style="height:310px; width: 100%; border:none;" scrolling="no"></iframe>
							{{#unless session.terms}}
								<div class="payment-block" {{action 'checkterms'}}></div>
				    	{{/unless}}

				    {{else}}
				    	<button  style="display: block; margin: 0 auto 20px;" {{action 'closeModal'}}>סגור</button>
				    {{/unless}}
				
				</div>

    </div>
</div>