<div class="overlay">
    <div class="lightbox small checkout">
        <div class="close" {{action 'closeModal'}}>&times;</div>


				<form class="box" {{action 'checkout' on='submit'}}>

						<h2>קופה</h2>

						{{#if error}}
						  <div class="alert error">
						      <p style="margin: 0; width: 90%;">{{error}}</p>
						  </div>
						{{/if}}
						 	

						{{#if success}}
							{{#unless error}}
								<h4>
									הזמנתך בוצעה בהצלחה.<br />
									פרטי ההזמנה נשלחו אליך במייל וב-SMS.<br />
									מספר ההזמנה שלך הוא <span>{{success}}</span><br /><br />
									<strong>חובה להציג מספר הזמנה בהגעה לבית העסק</strong><br />
									<strong>מומלץ לתאם מראש</strong>
								</h4>
							{{/unless}}
						{{/if}}

						{{#unless success}}
							<h3>שלום {{session.client.firstName}} {{session.client.lastName}},</h3>
							
							<p>
								<strong>שים לב:</strong>
								לקבלת מולא ההנחה יש לבצע את התשלום באמצעות כרטיס אשראי של מועדון {{options.club.name}} בלבד!
								<br />
								<strong>כרטיס האשראי שלך יחוייב בסכום כולל של ₪{{total}}</strong>
							</p>

							<p style="color: red;">
								<strong>שים לב:</strong>
								במידה והתשלום יבוצע באמצעות כרטיס אשראי שאינו שייך למועדון {{options.club.name}}
								<br />
								<strong>כרטיס האשראי שלך יחוייב בסכום כולל של ₪{{ccTotal}}</strong>
							</p>

							<iframe {{bind-attr src=model.url}} style="height:250px; width: 100%; border:none;" scrolling="no"></iframe>
							<div class="payment-block" {{action 'checkterms'}}></div>
				    {{else}}
				    	<button  style="display: block; margin: 0 auto 20px;" {{action 'closeModal'}}>סגור</button>
				    {{/unless}}
				</form>

    </div>
</div>