<div class="overlay">
    <div class="lightbox small">
        <div class="close" {{action 'closeModal'}}>&times;</div>


				<form class="box" {{action 'checkout' on='submit'}}>

						<h2>קופה</h2>

						<h3>שלום {{session.client.firstName}} {{session.client.lastName}},</h3>

						{{#if success}}
							<h4>
								הזמנתך בוצע בהצלחה.<br />
								פרטי ההזמנה נשלחו אליך במייל וב-SMS.<br />
								מספר ההזמנה שלך הוא <span>{{success}}</span><br /><br />
								<strong>חובה להציג מספר הזמנה בהגעה לבית העסק</strong><br />
								<strong>מומלץ לתאם מראש</strong>
							</h4>

						{{/if}}

						{{#if error}}
						  <div class="alert error">
						      <div class="close">&times;</div>
						      {{error}}
						  </div>
						{{/if}}

						{{#unless success}}
							<h4>
								כרטיס האשראי שלך יחוייב
								בסכום כולל של ‎<span>{{cart.total}}&rlm;₪</span>
							</h4>

					    <div class="form-group">
					        {{input type="text" placeholder="מספר כרטיס" value=cardNumber}}
					    </div>

					    <div class="row">

						    		{{ui-chosen
						    			classNames="years"
						    			options=years
						    			prompt="שנה"
						    			selected=cardYear
						    		}}

						    		{{ui-chosen
						    			classNames="months"
						    			options=months
						    			prompt="חודש"
						    			selected=cardMonth
						    		}}

										{{input type="text" placeholder="CVV" value=cvv}}
						  
						  </div>


					    <div class="form-group">
					        {{input type="text" placeholder="תעודת זהות של בעל הכרטיס" value=ownerId}}
					    </div>

							<button {{action 'openCart'}}>חזור לסל</button>
					    <button {{action 'pay'}}>שלם</button>
				    {{else}}
				    	<button  style="display: block; margin: 0 auto 20px;" {{action 'closeModal'}}>סגור</button>
				    {{/unless}}
				</form>

    </div>
</div>