<div class="overlay">
    <div class="lightbox small">
        <div class="close" {{action 'closeModal'}}>&times;</div>


				<form class="box" {{action 'checkout' on='submit'}}>

						

						{{#if error}}
						  <div class="alert error">
						      <p style="margin: 0; width: 90%;">{{error}}</p>
						  </div>
						{{else}}
						 	<h2>קופה</h2>
							<h3>שלום {{session.client.firstName}} {{session.client.lastName}},</h3>
						{{/if}}


						{{#if success}}
							{{#unless error}}
								<h4>
									הזמנתך בוצעה בהצלחה.<br />
									פרטי ההזמנה נשלחו אליך במייל וב-SMS.<br />
									מספר ההזמנה שלך הוא <span>{{success}}</span><br /><br />
									<strong>חובה להציג מספר הזמנה בהגעה לבית העסק</strong><br />
									<strong>מומלץ לתאם מראש</strong>
								</h4>
							{{/unless}}
						{{/if}}
						{{#unless success}}
							<iframe {{bind-attr src=model.url}} style="height:300px; width: 330px; border:none; margin-bottom: 20px;" scrolling="no"></iframe>
							<div class="payment-block" {{action 'checkterms'}}></div>
					    {{else}}
					    	<button  style="display: block; margin: 0 auto 20px;" {{action 'closeModal'}}>סגור</button>
					    {{/unless}}
				</form>

    </div>
</div>