{{#ui-form class="box myinfo" action='update' }}
	<div class="form-group">
        {{input type="text" placeholder="שם פרטי" value=model.firstName required="required"}} 
    </div>
    <div class="form-group">
        {{input type="text" placeholder="שם משפחה" value=model.lastName required="required"}}
    </div>
    <div class="form-group">
        {{input type="text" placeholder="תעודות זהות" value=model.taxId  data-parsley-idcheck="idcheck"}}
    </div>
    <div class="form-group">
        {{input type="text" placeholder="דואר אלקטרוני" value=model.email  data-parsley-type='email'}}
    </div>
    <div class="form-group">
        {{input type="text" placeholder="נייד" value=model.mobile data-parsley-mobile="mobile" required="required"}}
    </div>
    <div class="form-group">
        {{input type="text" placeholder="עדכון סיסמא" value=model.password}}
    </div>
     <button type="submit" >שמור</button>
{{/ui-form}}
