{{#view App.ModalView}}
<div class="modal-backdrop fade in"></div>
<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{#link-to 'users' tag="button" type="button" class="close sendExit"}}&times;{{/link-to}}
        <h4 class="modal-title">
          {{#if id}}
            פרטי משתמש
          {{else}}
            יצירת משתמש
          {{/if}}
        </h4>
      </div>     
      <div class="modal-body">
        <form>
           {{#if error}}
                <div class="alert alert-danger error">
                  <strong>שגיאה:</strong> {{error}}
                  <i class="fa fa-times" {{action 'close' controller}}></i>
                </div>
          {{/if}}
          <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label>שם פרטי:</label>
                  {{input type="text" class="form-control" valueBinding="firstName" required="required"}}
                </div>
              </div>

             <div class="col-md-6">
                <div class="form-group">
                  <label>שם משפחה:</label>
                  {{input type="text" class="form-control" valueBinding="lastName" required="required"}}
                </div>
              </div>

          </div>
          <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label>שם משתמש:</label>
                  {{input type="text" class="form-control" valueBinding="username" required="required"}}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>סיסמא:</label>
                    {{input type="text" class="form-control" valueBinding="password" required="required" }}
                </div>
              </div>
          </div>
          <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                  <label>נייד:</label>
                    {{input type="text" class="form-control" valueBinding="phone" required="required" }}
                </div>
              </div>

            <div class="col-md-4">
                <div class="form-group">
                  <label>דוא"ל:</label>
                    {{input type="text" class="form-control" valueBinding="email" required="required" data-parsley-type="email"}}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                  <label>סטאטוס:</label>
                    {{view Ember.ChosenSelectView
                          classNames="form-control chosen-select chosen-rtl form-group chosen-multi" 
                          prompt = "בחר..."
                          contentBinding="App.states"
                          selected=states_id
                          required="required"
                       }}
                </div>
            </div>

          </div>
        </form>
      </div>
       <div class="modal-footer">
        {{#link-to 'users' tag="button" type="button" class="btn btn-default"}}ביטול{{/link-to}}
        <div class="pull-left">
             <button {{action "save" model view controller}} type="button" class="btn btn-success sendEnter">שמור</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/view}}